table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0px;
  }
  
  td, th {
    border: 1px solid #000000aa;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd44;
  }

.CoursePage__VideoTable{
    width: 250px;
}